.header {
  padding: 21px 26px 0 26px;
  margin-bottom: 25px;
}

.header__wrapper {
  position: relative;
  background: url('../assets/img/headerBG.jfif') no-repeat center center/cover;
  border-radius: 15px;
  padding-bottom: 33px;
}

.header__wrapper::after {
  content: '';
  position: absolute;
  top: 78px;
  right: 7.2vw;
  width: 206px;
  height: 269px;

  background: url('../assets/img/headerPictureDesktop.png') no-repeat center center/cover;
}

.header__list {
  padding: 33px 106px 0 106px;
  margin-bottom: 34px;
}

.header__item:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.header__item:nth-of-type(2) {
  margin-bottom: 63px;
}

.header__item:nth-of-type(3) {
  margin-bottom: 15px;
}

.header__logo-locale {
  position: relative;
  height: fit-content;
  padding: 5px 22px 3px 7px;
  border-radius: 3px;
  background-color: #f8e74e;
  color: #000000;
  font-family: Bicubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  cursor: pointer;
}

.header__language-switcher-wrapper {
  position: relative;
}

.header__language-switcher-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 112%;
  left: 0;
  width: 100%;
  background-color: #0c0c2a;
  border-radius: 3px;
  overflow: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.header__language-switcher-select {
  position: relative;
  padding: 5px 22px 3px 7px;
  font-family: Bicubik;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  cursor: pointer;
}

.header__language-switcher-wrapper:hover .header__language-switcher-dropdown {
  visibility: visible;
  opacity: 1;
}

.header__language-switcher-select:hover {
  color: #f8e74e;
}

/* .header__language-switcher-select:nth-of-type(1)::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid #323259;
} */

.header__logo-locale::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 7px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #000000 transparent;
  transform: rotate(180deg);

  transition: transform 0.6s ease;
  transform-origin: 50% 50%;
}

.header__language-switcher-wrapper:hover .header__logo-locale::after {
  transform: rotate(360deg);
}

.header__logo-text {
  font-family: Bicubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}

.header__heading {
  margin-right: 180px;
  font-family: Wadik;
  font-size: 26px;
  font-weight: 700;
  line-height: 28.76px;
}

.header__subheading {
  margin-right: 160px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.91px;
}

.header__partners-wrapper {
  padding-left: 88px;
}

.header__logo-text-desktop,
.header__heading-desktop {
  display: block;
}

.header__logo-text-mobile,
.header__heading-mobile {
  display: none;
}

@media (max-width: 830px) {
  .header__wrapper {
    padding-bottom: 226px;
  }

  .header__wrapper::after {
    top: auto;
    bottom: 0;
    right: 25px;
  }

  .header__list {
    padding: 33px 50px 0 50px;
  }

  .header__heading {
    margin-right: 0;
  }

  .header__subheading {
    margin-right: 0;
  }

  .header__partners-wrapper {
    padding-left: 52px;
  }
}

@media (max-width: 590px) {
  .header {
    padding: 0;
  }

  .header__wrapper {
    border-radius: 0;
    padding: 55px 14px 320px 14px;
  }

  .header__container {
    margin: 0 auto;
    max-width: 362px;
  }

  .header__wrapper::after {
    bottom: 6px;
    right: 20px;
    width: 245px;
    height: 320px;
    
    background: url('../assets/img/headerPictureDesktopMobile.png') no-repeat center center/cover;
  }

  .header__list {
    padding: 0 0 0 0;
    margin-bottom: 14px;
  }

  .header__logo-locale {
    top: 0;
    padding: 4px 22px 1px 7px;
    font-size: 12px;
  }

  .header__language-switcher-select {
    font-size: 12px;
  }

  .header__logo-locale::after {
    top: 9px;
  }

  .header__heading {
    font-size: 18px;
    line-height: 19.91px;
  }

  .header__subheading {
    max-width: 330px;
    font-size: 14px;
    line-height: 15.48px;
  }

  .header__logo-text-mobile {
    font-family: Bicubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
  }

  .header__item:nth-of-type(1) {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 40px;
  }

  .header__item:nth-of-type(2) {
    padding-left: 4px;
    margin-bottom: 42px;
  }

  .header__item:nth-of-type(1) img {
    width: 47px;
    height: 14px;
  }

  .header__partners-wrapper {
    padding-left: 0;
  }

  .header__logo-text-desktop,
  .header__heading-desktop {
    display: none;
  }

  .header__logo-text-mobile,
  .header__heading-mobile {
    display: block;
  }
}
