.introduction {
  padding: 0 26px;
}

.introduction__wrapper {
  position: relative;
  padding: 84px 0 86px 106px;
  background-color: #181a40;
  border-radius: 15px;
  isolation: isolate;
  overflow: hidden;
}

.introduction__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/img/svg/introductionBg.svg') no-repeat center center/cover;
  z-index: -1;
}

.introduction__heading {
  margin-bottom: 25px;
  font-family: Wadik;
  font-size: 30px;
  font-weight: 700;
  line-height: 33.18px;
}

.introduction__subheading {
  max-width: 750px;
  margin-bottom: 37px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 19.8px;
}

.introduction__list {
  display: flex;
  margin-bottom: 36px;
}

.introduction__item {
  position: relative;
  flex-grow: 1;
  background-color: #0c0c2a;
  border-radius: 10px;
  max-height: 98px;
}

.introduction__item:nth-of-type(1) {
  max-width: 377px;
  padding: 27px 0 26px 25px;
  margin-right: 27px;
}

.introduction__item:nth-of-type(2) {
  max-width: 372px;
  padding: 27px 0 26px 24px;
  margin-right: 27px;
}

.introduction__item:nth-of-type(3) {
  max-width: 372px;
  padding: 27px 0 26px 25px;
}

.introduction__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: url('../assets/img/svg/introductionLeftBorder.svg') no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 7px 0px 20px 0px #f8e74e;
}

.introduction__item p:nth-of-type(1) {
  margin-bottom: 7px;
  font-family: Wadik;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.introduction__item p:nth-of-type(2) {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 300;
  line-height: 17.6px;
}

.introduction__footer-text {
  max-width: 830px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 19.8px;
}

.introduction__footer-text-custom-font {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
}

.introduction__heading-desktop,
.introduction__subheading-desktop {
  display: block;
}

.introduction__heading-mobile,
.introduction__subheading-mobile {
  display: none;
}

@media (max-width: 1340px) {
  .introduction__wrapper {
    padding: 84px 0 86px 70px;
  }
}

@media (max-width: 1320px) {
  .introduction__wrapper {
    padding: 84px 40px 86px 70px;
  }
}

@media (max-width: 1200px) {
  .introduction__list {
    flex-direction: column;
  }

  .introduction__item:nth-of-type(1),
  .introduction__item:nth-of-type(2),
  .introduction__item:nth-of-type(3) {
    max-width: 600px;
    margin: 0;
  }

  .introduction__item:not(:last-child) {
    margin-bottom: 27px;
  }
}

@media (max-width: 590px) {
  .introduction {
    padding: 0 5px 0 8px;
  }

  .introduction__wrapper {
    padding: 45px 0 46px 30px;
  }
  
  .introduction__container {
    margin: 0 auto;
    max-width: 390px;
  }

  .introduction__wrapper::after {
    display: none;
  }

  .introduction__heading {
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 22.12px;
  }

  .introduction__subheading {
    margin-bottom: 19px;
    font-family: Geologica;
    font-size: 15px;
    font-weight: 250;
    line-height: 17px;
  }
  
  .introduction__list {
    margin-bottom: 22px;
  }

  .introduction__item:nth-of-type(1) {
    max-width: 320px;
    padding: 29px 0 30px 25px;
}

  .introduction__item:nth-of-type(2) {
    max-width: 320px;
    padding: 29px 0 30px 25px;
}

  .introduction__item:nth-of-type(3) {
    max-width: 320px;
    padding: 29px 0 30px 25px;
}

.introduction__item:not(:last-child) {
  margin-bottom: 15px;
}

.introduction__item::before {
  left: -1px;
}

.introduction__item:nth-of-type(1)::before {
  width: 5.94px;
}

  .introduction__item p:nth-of-type(1) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.04em;
  }

  .introduction__item p:nth-of-type(2) {
    font-size: 15px;
    font-weight: 300;
    line-height: 16.5px;
  }

  .introduction__footer-text {
    font-size: 15px;
    line-height: 16.5px;
  }

  .introduction__footer-text-custom-font {
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
  }

  .introduction__footer-text {
    max-width: 320px;
  }

  .introduction__heading-desktop,
  .introduction__subheading-desktop {
    display: none;
  }

  .introduction__heading-mobile,
  .introduction__subheading-mobile {
    display: block;
  }

}
