.introduction {
  padding: 0 26px;
}

.introduction__wrapper {
  position: relative;
  padding: 84px 0 86px 106px;
  background-color: #181A40;
  border-radius: 15px;
  isolation: isolate;
  overflow: hidden;
}

.introduction__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/img/svg/introductionBg.svg') no-repeat center center/cover;
  z-index: -1;

}

.introduction__heading {
  margin-bottom: 25px;
  font-family: Wadik;
font-size: 30px;
font-weight: 700;
line-height: 33.18px;

}

.introduction__subheading {
  max-width: 750px;
  margin-bottom: 37px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 19.8px;
  
}

.introduction__list {
  display: flex;
  margin-bottom: 36px;

}

.introduction__item {
  position: relative;
  background-color: #0C0C2A;
  border-radius: 10px;
  max-height: 98px;
}

.introduction__item:nth-of-type(1) {
  padding: 27px 67px 26px 25px;
  margin-right: 27px;
}

.introduction__item:nth-of-type(2) {
  padding: 27px 60px 26px 24px;
  margin-right: 27px;
}

.introduction__item:nth-of-type(3) {
  padding: 27px 59px 26px 25px;
}

.introduction__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: url('../assets/img/svg/introductionLeftBorder.svg') no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 7px 0px 20px 0px #F8E74E;
}

/* .introduction__item:nth-of-type(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: url('../assets/img/svg/introductionLeftBorder.svg') no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 7px 0px 20px 0px #F8E74E;
} */


.introduction__item:nth-of-type(1)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -28px;
  height: 100%;
  width: 14px;
  background-color: #181A40;
  filter: blur(7px);
}

/* .introduction__item:nth-of-type(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: url('../assets/img/svg/introductionLeftBorder.svg') no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 7px 0px 20px 0px #F8E74E;
} */

.introduction__item:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -28px;
  height: 100%;
  width: 14px;
  background-color: #181A40;
  filter: blur(7px);
}

/* .introduction__item:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: -19px;
  left: -23px;
  height: 139%;
  background: url('../assets/img/svg/introductionLeftBorder.svg') no-repeat;
  width: 52px;
  background-position: left;
  background-size: 100% 100%;
} */

.introduction__item:nth-of-type(3)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -28px;
  height: 100%;
  width: 14px;
  background-color: #181A40;
  filter: blur(7px);
}


.introduction__item p:nth-of-type(1) {
  margin-bottom: 7px;
  font-family: Wadik;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.introduction__item p:nth-of-type(2) {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 300;
  line-height: 17.6px;
}

.introduction__footer-text {
  max-width: 830px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 19.8px;
}

.introduction__footer-text-custom-font {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
}
