.participation {
  padding: 0 26px;
  margin-bottom: 25px;
}

.participation__wrapper {
  isolation: isolate;
  position: relative;
  background: url('../assets/img/headerBG.jfif') no-repeat center center/cover;
  border-radius: 15px;
  padding: 74px 40px 100px 107px;
  overflow: hidden;
}

.participation__wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 47px;
  width: 607px;
  height: 609px;
  background: url('../assets/img/participationPicture.png') no-repeat bottom;
  z-index: -1;
}

.participation__heading {
  margin-bottom: 52px;
  font-family: Wadik;
  font-size: 30px;
  font-weight: 700;
  line-height: 33.18px;
}

.participation__subheading-cards-wrapper {
  display: flex;
  gap: 32px;
  margin-bottom: 51px;
}

.participation__subheading-cards-item {
  position: relative;
  max-width: 572px;
  border-radius: 10px;
  background: rgba(66, 69, 126, 0.45);
}

.participation__subheading-cards-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: url('../assets/img/svg/participationLeftSmallBorder.svg') no-repeat center
    center/cover;
  box-shadow: 14.33px 0px 40.94px 0px #05e9f0;
}

.participation__subheading-cards-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: url('../assets/img/svg/participationRightSmallBorder.svg') no-repeat center
    center/cover;
  box-shadow: -14.33px 0px 40.94px 0px #8e71ff;
}

.participation__subheading-cards-item:nth-of-type(1):after {
  right: -1px;
}

.participation__subheading-cards-item:nth-of-type(1) {
  padding: 10px 89px 9px 82px;
}

.participation__subheading-cards-item:nth-of-type(2) {
  padding: 20px 89px 9px 71px;
}

.participation__subheading-cards-text {
  position: relative;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 19.8px;
}

.participation__subheading-cards-item:nth-of-type(1) .participation__subheading-cards-text::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -60px;
  width: 39px;
  height: 13px;
  background: url('../assets/img/participation100FLogo.png') no-repeat center center/cover;
}

.participation__subheading-cards-item:nth-of-type(2) .participation__subheading-cards-text::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -50px;
  width: 34px;
  height: 34px;
  background: url('../assets/img/svg/participationTarget.svg') no-repeat center center/cover;
}

.participation__subheading-cards-item:nth-child(2) .participation__subheading-cards-text span {
  font-weight: 600;
}

.participation__subheading-cards-item:nth-child(1) .participation__subheading-cards-text {
  max-width: 400px;
}

.participation__subheading-cards-item:nth-child(2) .participation__subheading-cards-text {
  max-width: 430px;
}

.participation__subheading {
  max-width: 810px;
  margin-bottom: 39px;
  font-family: Wadik;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.33px;
}

.participation__list {
  display: flex;
  margin-bottom: 53px;
}

.participation__item {
  position: relative;
  border-radius: 10px;
  background: rgba(66, 69, 126, 0.45);
}

.participation__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: url('../assets/img/svg/participationLeftBigBorder.svg') no-repeat center center/cover;
  box-shadow: 13.5px 0px 38.56px 0px #f8e74e;
}

.participation__item::after {
  content: '';
  position: absolute;
  top: 17px;
  left: 29px;
  width: 36px;
  height: 36px;
  background: url('../assets/img/svg/participationDollarSign.svg') no-repeat center center/cover;
}

.participation__item:nth-of-type(2):before,
.participation__item:nth-of-type(3):before {
  left: -1px;
}

.participation__item:nth-of-type(2):after {
  top: 16px;
  left: 34px;
  width: 32px;
  height: 32px;
  background: url('../assets/img/svg/participationHand.svg') no-repeat center center/cover;
}

.participation__item:nth-of-type(3):after {
  top: 16px;
  left: 32px;
  width: 32px;
  height: 32px;
  background: url('../assets/img/svg/participationHandshake.svg') no-repeat center center/cover;
}

.participation__item:nth-of-type(1) {
  padding: 90px 30px 21px 30px;
  margin-right: 27px;
  flex-grow: 1;
  max-width: 374px;
}

.participation__item:nth-of-type(2) {
  padding: 90px 30px 27px 34px;
  margin-right: 27px;
  flex-grow: 1;
  max-width: 373px;
}

.participation__item:nth-of-type(3) {
  padding: 90px 30px 26px 32px;
  flex-grow: 1;
  max-width: 373px;
}

.participation__text {
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.91px;
}

.participation__footer-text {
  max-width: 985px;
  margin-bottom: 60px;
  font-family: Wadik;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.33px;
}

.participation__qr-wrapper {
  display: flex;
}

.participation__qr-wrapper img {
  margin-right: 35px;
}

.participation__qr-text-wrapper {
  padding-top: 12px;
}

.participation__qr-text {
  margin-bottom: 16px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 200;
  line-height: 19.8px;
}

.participation__custom-text-style {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.8px;
  color: #f8e74e;
}

.participation__qr-link {
  display: block;
  position: relative;
  width: fit-content;
  margin-bottom: 14px;
  padding: 14px 14px 14px 37px;
  background-color: #f8e74e;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 18px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
}

.participation__qr-link::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 15px;
  width: 17px;
  height: 17px;
  background: url('../assets/img/svg/participationFingerPrint.svg') no-repeat center center/cover;
}

.participation__qr-text-farewell {
  font-family: Wadik;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.33px;
}

.participation__heading-desktop,
.participation__subheading-cards-text-desktop,
.participation__subheading-desktop,
.participation__footer-text-desktop,
.participation__qr-text-desktop {
  display: block;
}

.participation__heading-mobile,
.participation__subheading-cards-text-mobile,
.participation__subheading-mobile,
.participation__footer-text-mobile,
.participation__qr-text-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .participation__wrapper::after {
    background-position: right bottom;
    right: -90px;
  }
}

@media (max-width: 1050px) {
  .participation__wrapper {
    padding: 74px 40px 104px 70px;
  }
}

@media (max-width: 1000px) {
  .participation__wrapper {
    padding: 74px 40px 326px 70px;
  }

  .participation__subheading-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .participation__list {
    flex-wrap: wrap;
    gap: 27px;
  }

  .participation__item:nth-of-type(1) {
    margin-right: 0;
  }

  .participation__item:nth-of-type(2) {
    margin-right: 0;
  }

  .participation__item:nth-of-type(3) {
    margin-inline: auto;
  }
}

@media (max-width: 807px) {
  .participation__list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }

  .participation__item:nth-of-type(1) {
    width: 374px;
  }

  .participation__item:nth-of-type(2) {
    width: 374px;
  }

  .participation__item:nth-of-type(3) {
    width: 374px;
    margin-inline: 0;
  }


  .participation__qr-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .participation__wrapper {
    padding: 74px 40px 366px 70px;
  }
}

@media (max-width: 590px) {
  .participation {
    padding: 0 7px 0 6px;
  }

  .participation__wrapper {
    padding: 45px 0 272px 30px;
  }

  .participation__wrapper::after {
    bottom: 0px;
    right: -115px;
    background: url('../assets/img/participationPictureMobile.png') no-repeat bottom;
  }

  .participation__container {
    margin: 0 auto;
    max-width: 347px;
  }

  .participation__heading {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 22.12px;
  }

  .participation__subheading {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 17.7px;
  }

  .participation__subheading-cards-text {
    font-family: Geologica;
    font-size: 15px;
    font-weight: 300;
    line-height: 16.5px;
  }

  .participation__text {
    font-size: 14px;
    line-height: 15.48px;
  }

  .participation__footer-text {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 18px;
  }

  .participation__qr-text-wrapper {
    padding-top: 14px;
  }

  .participation__qr-text {
    max-width: 300px;
    margin-bottom: 19px;
    font-family: Geologica;
    font-size: 15px;
    font-weight: 250;
    line-height: 16.9px;
  }

  .participation__custom-text-style {
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
  }

  .participation__qr-link {
    padding: 14px 15px 17px 37px;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 250;
    line-height: 14px;
  }

  .participation__qr-text-farewell {
    font-size: 14px;
    line-height: 15.48px;
  }

  .participation__subheading-cards-wrapper {
    max-width: 320px;
    margin-bottom: 21px;
    align-items: flex-start;
    gap: 15px;
  }

  .participation__subheading-cards-item:nth-of-type(1) {
    width: 100%;
    max-width: 320px;
    padding: 70px 30px 20px 25px;
  }

  .participation__subheading-cards-item:nth-of-type(1)
    .participation__subheading-cards-text::before {
    width: 54.54px;
    height: 18.18px;
    top: -48px;
    left: 0px;
    background: url('../assets/img/participation100FLogoMobile.png') no-repeat center center/cover;
  }

  .participation__subheading-cards-item::before {
    width: 7px;
  }

  .participation__subheading-cards-item:nth-child(1) .participation__subheading-cards-text {
    max-width: none;
  }

  .participation__subheading-cards-item:nth-of-type(2) {
    width: 100%;
    max-width: 320px;
    padding: 66px 0 23px 25px;
  }

  .participation__subheading-cards-item:nth-of-type(2)
    .participation__subheading-cards-text::before {
    top: -50px;
    left: -2px;
  }

  .participation__list {
    max-width: 320px;
    margin-bottom: 53px;
    gap: 15px;
  }

  .participation__item:nth-of-type(1) {
    width: 100%;
    padding: 64px 30px 15px 25px;
  }

  .participation__item:nth-of-type(2) {
    width: 100%;
    padding: 64px 30px 18px 25px;
  }

  .participation__item:nth-of-type(3) {
    width: 100%;
    padding: 64px 30px 19px 25px;
  }

  .participation__item::after {
    top: 18px;
    left: 25px;
    width: 29px;
    height: 29px;
  }

  .participation__item:nth-of-type(2):after,
  .participation__item:nth-of-type(3):after {
    top: 23px;
    left: 27px;
    width: 25px;
    height: 25px;
  }

  .participation__item::before {
    background: url('../assets/img/svg/participationLeftBigBorderMobile.svg') no-repeat center
      center/cover;
  }

  .participation__item:nth-of-type(2):before,
  .participation__item:nth-of-type(3):before {
    left: 0px;
  }

  .participation__qr-wrapper img {
    margin-right: 24px;
  }

  .en .participation__footer-text-mobile {
    max-width: 260px;
  }

  .participation__heading-desktop,
  .participation__subheading-cards-text-desktop,
  .participation__subheading-cards-item::after,
  .participation__subheading-desktop,
  .participation__footer-text-desktop,
  .participation__qr-text-desktop {
    display: none;
  }

  .participation__heading-mobile,
  .participation__subheading-cards-text-mobile,
  .participation__subheading-mobile,
  .participation__footer-text-mobile,
  .participation__qr-text-mobile {
    display: block;
  }
}
