.projects-invested {
  padding: 0 26px;
  margin-bottom: 25px;
}

.projects-invested__wrapper {
  isolation: isolate;
  position: relative;
  background: url('../assets/img/projectsInvestedBG.jfif') no-repeat center center/cover;
  border-radius: 15px;
  padding: 84px 0 68px 108px;
}

.projects-invested__wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../assets/img/svg/projectsInvestedCardsBG.svg') no-repeat bottom;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -5;
}

.projects-invested__heading {
  margin-bottom: 12px;

  font-family: Wadik;
  font-size: 30px;
  font-weight: 700;
  line-height: 33.18px;
}

.projects-invested__subheading {
  margin-bottom: 52px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 19.8px;
}

.projects-invested__custom-font-weight {
  font-weight: 500;
}

.projects-invested__cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 23px;
  margin-bottom: 48px;
}

.projects-invested__cards-item {
  position: relative;
  width: 376px;
  height: 186px;
  padding: 13px 0 0 23px;
}

.projects-invested__cards-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 376px;
  height: 186px;
  background: url('../assets/img/svg/glassDesktopBG.svg') no-repeat;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  clip-path: polygon(0 0, 0 100%, 319px 100%, 336px 164px, 100% 164px, 100% 0);
  z-index: -1;
}

.projects-invested__cards-item::after {
  content: '';
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(206, 206, 206, 0.12);
}

.projects-invested__cards-item:nth-of-type(1) {
  margin-right: 23px;
}

.projects-invested__cards-item:nth-of-type(2) {
  padding: 14px 0 0 24px;
  margin-right: 24px;
}

.projects-invested__cards-item:nth-of-type(3) {
  padding: 10px 0 0 26px;
}

.projects-invested__cards-item:nth-of-type(4) {
  margin-right: 27px;
  padding: 19px 0 0 26px;
}

.projects-invested__cards-item:nth-of-type(5) {
  padding: 4px 0 0 13px;
  margin-right: 20px;
}

.projects-invested__cards-item:nth-of-type(6) {
  padding: 9px 0 0 15px;
}

.projects-invested__cards-item-image-1,
.projects-invested__cards-item-image-2,
.projects-invested__cards-item-image-3,
.projects-invested__cards-item-image-4,
.projects-invested__cards-item-image-5,
.projects-invested__cards-item-image-6 {
  margin-bottom: 31px;
}

.projects-invested__cards-item:nth-of-type(1) img,
.projects-invested__cards-item:nth-of-type(2) img,
.projects-invested__cards-item:nth-of-type(3) img{
  margin-bottom: 31px;
}

.projects-invested__cards-item:nth-of-type(4) img {
  margin-bottom: 36px;
}

.projects-invested__cards-item:nth-of-type(5) img {
  margin-bottom: 24px;
}

.projects-invested__cards-item:nth-of-type(6) img {
  margin-bottom: 27px;
}

.projects-invested__cards-text {
  position: relative;
  padding-left: 30px;
  font-family: Geologica;
  font-size: 16px;
  font-weight: 200;
  line-height: 17.6px;
}

.projects-invested__cards-text:nth-of-type(1) {
  margin-bottom: 15px;
}

.projects-invested__cards-text:nth-of-type(2) {
  margin-bottom: 16px;
}

.projects-invested__cards-item:nth-of-type(3) p,
.projects-invested__cards-item:nth-of-type(4) p {
  padding-left: 28px;
}

.projects-invested__cards-item:nth-of-type(5) p {
  padding-left: 40px;
}

.projects-invested__cards-item:nth-of-type(6) p {
  padding-left: 38px;
}

.projects-invested__cards-text:nth-of-type(1)::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  background: url('../assets/img/svg/projectsInvestedDollarSign.svg') no-repeat;
}

.projects-invested__cards-text:nth-of-type(2)::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: url('../assets/img/svg/projectsInvestedCalendar.svg') no-repeat;
}

.projects-invested__cards-text:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: url('../assets/img/svg/projectsInvestedDollarBag.svg') no-repeat;
}

.projects-invested__cards-item:nth-of-type(2)
  .projects-invested__cards-text:nth-of-type(1)::before {
  left: 0px;
}

.projects-invested__cards-item:nth-of-type(2)
  .projects-invested__cards-text:nth-of-type(2)::before {
  left: 1px;
}

.projects-invested__cards-item:nth-of-type(2)
  .projects-invested__cards-text:nth-of-type(3)::before {
  top: 3px;
  left: 1px;
}

.projects-invested__cards-item:nth-of-type(3)
  .projects-invested__cards-text:nth-of-type(1)::before {
  top: 0px;
  left: -2px;
}

.projects-invested__cards-item:nth-of-type(3)
  .projects-invested__cards-text:nth-of-type(2)::before {
  top: 1px;
  left: -1px;
}

.projects-invested__cards-item:nth-of-type(3)
  .projects-invested__cards-text:nth-of-type(3)::before {
  top: 2px;
  left: -1px;
}

.projects-invested__cards-item:nth-of-type(4)
  .projects-invested__cards-text:nth-of-type(1)::before {
  top: 0px;
  left: -2px;
}

.projects-invested__cards-item:nth-of-type(4)
  .projects-invested__cards-text:nth-of-type(2)::before {
  top: 1px;
  left: -1px;
}

.projects-invested__cards-item:nth-of-type(4)
  .projects-invested__cards-text:nth-of-type(3)::before {
  top: 2px;
  left: -1px;
}

.projects-invested__cards-item:nth-of-type(5)
  .projects-invested__cards-text:nth-of-type(1)::before {
  top: 1px;
  left: 11px;
}

.projects-invested__cards-item:nth-of-type(5)
  .projects-invested__cards-text:nth-of-type(2)::before {
  top: 2px;
  left: 12px;
}

.projects-invested__cards-item:nth-of-type(5)
  .projects-invested__cards-text:nth-of-type(3)::before {
  top: 3px;
  left: 12px;
}

.projects-invested__cards-item:nth-of-type(6)
  .projects-invested__cards-text:nth-of-type(1)::before {
  left: 9px;
}

.projects-invested__cards-item:nth-of-type(6)
  .projects-invested__cards-text:nth-of-type(2)::before {
  left: 10px;
}

.projects-invested__cards-item:nth-of-type(6)
  .projects-invested__cards-text:nth-of-type(3)::before {
  left: 10px;
}

.projects-invested__footer-text {
  font-family: Wadik;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.33px;
}

.projects-invested__subheading-desktop,
.projects-invested__footer-text-desktop {
  display: block;
}

.projects-invested__cards-list-desktop {
  display: flex;
}

.projects-invested__subheading-mobile,
.projects-invested__footer-text-mobile {
  display: none;
}

#swiper {
  display: none;
}

@media (max-width: 1340px) {
  .projects-invested__wrapper {
    padding: 84px 40px 68px 108px;
  }

  .projects-invested__cards-list {
    max-width: 1054px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
  }

  .projects-invested__cards-item:nth-of-type(1),
  .projects-invested__cards-item:nth-of-type(2),
  .projects-invested__cards-item:nth-of-type(3),
  .projects-invested__cards-item:nth-of-type(4),
  .projects-invested__cards-item:nth-of-type(5),
  .projects-invested__cards-item:nth-of-type(6) {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .projects-invested__wrapper {
    padding: 84px 40px 68px 70px;
  }

  .projects-invested__cards-list {
    gap: 23px;
  }
}

@media (max-width: 936px) {
  .projects-invested__wrapper {
    padding: 84px 20px 68px 50px;
  }

  .projects-invested__cards-item {
    width: 450px;
    padding: 13px 0 0 40px;
  }

  .projects-invested__cards-item::before {
    clip-path: polygon(0 0, 0 100%, 403px 100%, 414px 164px, 100% 164px, 100% 0);
    width: 100%;
    background-size: cover;
  }

  .projects-invested__cards-item:nth-of-type(2) {
    padding: 14px 0 0 40px;
  }

  .projects-invested__cards-item:nth-of-type(3) {
    padding: 10px 0 0 40px;
  }

  .projects-invested__cards-item:nth-of-type(4) {
    padding: 19px 0 0 40px;
  }

  .projects-invested__cards-item:nth-of-type(5) {
    padding: 4px 0 0 31px;
  }

  .projects-invested__cards-item:nth-of-type(6) {
    padding: 9px 0 0 30px;
  }
}

@media (max-width: 590px) {
  .projects-invested {
    padding: 0 6px 0 8px;
  }

  .projects-invested__wrapper {
    padding: 45px 0px 41px 29px;
  }

  .projects-invested__container {
    position: relative;
    margin: 0 auto;
    max-width: 347px;
  }

  .projects-invested__wrapper::after {
    display: none;
  }

  .projects-invested__heading {
    max-width: 267px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 22.12px;
  }

  .projects-invested__subheading {
    margin-bottom: 27px;
    font-size: 15px;
    line-height: 16.5px;
  }

  .projects-invested__custom-font-weight {
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
  }

  .projects-invested__footer-text {
    font-size: 14px;
    line-height: 15px;
  }

  .projects-invested__cards-list {
    max-width: none;
    margin-bottom: 0;
    gap: 0;
    justify-content: flex-start;
    /* flex-direction: row; */
    flex-wrap: nowrap;
  }

  #projects-invested__cards-item-1 {
    width: 321px;
    height: 146px;
    padding: 7px 0 0 20px;
  }

  #projects-invested__cards-item-2 {
    width: 321px;
    height: 146px;
    padding: 8px 0 0 20px;
  }

  #projects-invested__cards-item-3 {
    width: 321px;
    height: 146px;
    padding: 5px 0 0 20px;
  }

  #projects-invested__cards-item-4 {
    width: 321px;
    height: 146px;
    padding: 8px 0 0 20px;
  }

  #projects-invested__cards-item-5 {
    width: 321px;
    height: 146px;
    padding: 4px 0 0 20px;
  }

  #projects-invested__cards-item-6 {
    padding: 6px 0 0 20px;
  }

  #projects-invested__cards-item-image-1 {
    width: 86px;
    height: 19px;
    margin-bottom: 25px;
  }

  #projects-invested__cards-item-image-2 {
    width: 87px;
    height: 24px;
    margin-bottom: 20px;
  }

  #projects-invested__cards-item-image-3 {
    width: 81px;
    height: 25px;
    margin-bottom: 21px;
  }

  #projects-invested__cards-item-image-4 {
    margin-bottom: 26px;
  }

  #projects-invested__cards-item-image-5 {
    width: 65px;
    height: 30px;
    margin-bottom: 17px;
  }

  #projects-invested__cards-item-image-6 {
    width: 95px;
    height: 25px;
    margin-bottom: 20px;
  }

  #projects-invested__cards-item-1-text-1,
  #projects-invested__cards-item-1-text-2,
  #projects-invested__cards-item-1-text-3,
  #projects-invested__cards-item-2-text-1,
  #projects-invested__cards-item-2-text-2,
  #projects-invested__cards-item-2-text-3,
  #projects-invested__cards-item-3-text-1,
  #projects-invested__cards-item-3-text-2,
  #projects-invested__cards-item-3-text-3,
  #projects-invested__cards-item-4-text-1,
  #projects-invested__cards-item-4-text-2,
  #projects-invested__cards-item-4-text-3,
  #projects-invested__cards-item-5-text-1,
  #projects-invested__cards-item-5-text-2,
  #projects-invested__cards-item-5-text-3,
  #projects-invested__cards-item-6-text-1,
  #projects-invested__cards-item-6-text-2,
  #projects-invested__cards-item-6-text-3 {
    padding-left: 25px;
  }

  .projects-invested__cards-text {
    font-size: 14px;
    line-height: 15.4px;
  }

  .projects-invested__cards-text:nth-of-type(1) {
    margin-bottom: 12px;
  }

  .projects-invested__cards-text:nth-of-type(2) {
    margin-bottom: 13px;
  }

  #projects-invested__cards-item-1-text-1::before,
  #projects-invested__cards-item-2-text-1::before,
  #projects-invested__cards-item-3-text-1::before,
  #projects-invested__cards-item-4-text-1::before,
  #projects-invested__cards-item-5-text-1::before,
  #projects-invested__cards-item-6-text-1::before {
    top: -1px;
    left: -2px;
    width: 18px;
    height: 18px;
  }

  #projects-invested__cards-item-1-text-2::before,
  #projects-invested__cards-item-2-text-2::before,
  #projects-invested__cards-item-3-text-2::before,
  #projects-invested__cards-item-4-text-2::before,
  #projects-invested__cards-item-5-text-2::before,
  #projects-invested__cards-item-6-text-2::before {
    top: 0px;
    left: -1px;
  }

  #projects-invested__cards-item-1-text-3::before,
  #projects-invested__cards-item-2-text-3::before,
  #projects-invested__cards-item-3-text-3::before,
  #projects-invested__cards-item-4-text-3::before,
  #projects-invested__cards-item-5-text-3::before,
  #projects-invested__cards-item-6-text-3::before {
    top: 1px;
    left: -1px;
  }

  .projects-invested__cards-item::before {
    clip-path: polygon(100% 0, 100% 88%, 89% 87%, 85% 100%, 0 100%, 0 0);
    background: url('../assets/img/svg/glassMobileBG.svg');
    width: 321px;
    height: 146px;
  }

  .projects-invested__cards-item::after {
    width: 321px;
    top: 32px;
  }

  .projects-invested__subheading-desktop,
  .projects-invested__footer-text-desktop,
  .projects-invested__cards-list-desktop {
    display: none;
  }

  .projects-invested__subheading-mobile,
  .projects-invested__footer-text-mobile {
    display: block;
  }

  #swiper {
    display: block;
    margin-bottom: 30px;
  }

  .projects-invested__swiper-arrow-left {
    position: absolute;
    top: 119px;
    right: 63px;
    width: 27px;
    height: 27px;
    background: url('../assets/img/svg/sliderLeftArrow.svg') no-repeat center center/cover;
  }

  .projects-invested__swiper-arrow-right {
    position: absolute;
    top: 119px;
    right: 26px;
    width: 27px;
    height: 27px;
    background: url('../assets/img/svg/sliderLeftArrow.svg') no-repeat center center/cover;
    transform: scale(-1);
  }
}
